*{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
.div{
    min-height: 100px;
    min-width: 100px;

}
.container{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.top .menu{
    display: flex;
    flex-direction: row;
    flex-grow: 0.1;
    justify-content: space-evenly;
    padding-top: 16px;
}
.top .menu .text{   
    font-size: 15px;  
    font-weight: bold;
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;    
}
.line{
    font-size: 25px;
    padding-left: 100px;
}
.showroom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center ;
}
.bottom{
    background-color: yellow;  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;  
}
.bottom .item{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-evenly;
    flex-grow: 10;
}
.bottom ul{
    list-style: none; 
}   